
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./css/contact.css">
  <title>DonateFoodForLife</title>
</head>
<style>
  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 5px;
  }
</style>

<body>
  <header class="text-gray-500 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="./index.html">
        <!-- <img src="./asset/icon2.png" class="logo" alt=""> -->
        <span class="ml-3 text-xl">DonateFoodForLife</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="{% url 'donate-home' %}" class="mr-5 hover:text-white">Home</a>
        <a href="{% url 'donate-donate' %}"
          class="mr-5 bg-red-500  text-black hover:text-white  border-0 py-1 px-3 focus:outline-none hover:bg-red-600 rounded text-lg">Donate</a>
          <a href="{% url 'donate-deliver' %}" class="mr-5 hover:text-white">Deliver</a>
          <a href="{% url 'donate-team' %}" class="mr-5 text-white">Our Team</a>
        <a href="{% url 'donate-contact' %}" class="mr-5 hover:text-white">Contact</a>
        <a href="{% url 'donate-logout' %}"
          class="mr-5 bg-green-900  text-white hover:text-white  border-0 py-1 px-2 focus:outline-none hover:bg-green-700 rounded text-lg">Logout</a>
      </nav>
    </div>
  </header>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">OUR TEAM</h1>
   
      <div class="row">
        <div class="column">
          <img src="{% static 'users/images/Harsh.png' %}" alt="Snow" style="width:100%">
          <div style="margin:25px;">Aryan Verma</div>
        </div>
        <div class="column">
          <img src="{% static 'users/images/Kaif.png' %}" alt="Forest" style="width:100%">
          <div style="margin:25px;">Kaif Ahmad</div>
        </div>
        <div class="column">
          <img src="{% static 'users/images/Jitesh.png' %}" alt="Mountains" style="width:100%">
          <div style="margin:25px;">Jitesh Aggarwal</div>
        </div>
        <div class="column">
          <img src="{% static 'users/images/Prakruti.png' %}" alt="Mountains" style="width:100%">
          <div style="margin:25px;">K S Prakruthi</div>
        </div>
        <div class="column">
          <img src="{% static 'users/images/Pratham.png' %}" alt="Mountains" style="width:100%">
          <div style="margin:25px;">Pratham Tripathi</div>
        </div>

        
      </div>
    
  </section>
  <footer class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <span class="ml-3 text-xl">DonateFoodForLife</span>
      </a>
      <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"> Copyright
        &copy; 2021 www.DonateFoodForLife.com - All rights reserved</a>
      </p>
    </div>
  </footer>
</body>

</html>