<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/request.css">
    <link rel="stylesheet" href="./js/request.js">
    <title>DonateFoodForLife</title>
    <style>
        table {
            font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 88%;
    height: 35vh;
    text-align: center;
    margin: 2px 98px;
    
        }
        
        td, th {
          border: 2px solid #615e5e;
          text-align: left;
          padding: 8px;
          
        }
        
        tr:nth-child(even) {
          background-color: #f0eeee;
        }
        h1{
            font-size: 33px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    padding: 25px;
        }
        #fk{
            color: rgba(62, 161, 15, 0.849);
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
       
        </style>
</head>

<body>
    <header class="text-gray-500 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-2 md:mb-0" href="./indexorg.html">
            <span class="ml-3 text-xl">DonateFoodForLife</span>
            <span class="ml-56 text-l">Resource Manager</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center" id="sticky1">
            <a href="{% url 'org-home' %}" class="mr-5 hover: text-white">Home</a>
            <a href="{% url 'org-resources' %}"
              class="mr-5 bg-red-500  text-black hover:text-white  border-0 py-1 px-3 focus:outline-none hover:bg-red-600 rounded text-lg">Resources</a>
            <a href="{% url 'org-request' %}" class="mr-5 text-white">Request</a>
            <a href="{% url 'org-team' %}" class="mr-5 hover:text-white">Our Team</a>
            <a href="{% url 'org-contact' %}" class="mr-5 hover:text-white">Contact</a>
            <a href="{% url 'donate-logout' %}"
          class="mr-5 bg-green-900  text-white hover:text-white  border-0 py-1 px-2 focus:outline-none hover:bg-green-700 rounded text-lg">Logout</a>
          </nav>
        </div>
      </header>
    <div class="container my-3">
        <h1>Request</h1>
        
        
        <form action="" method= POST id="RequestForm">
          {% csrf_token %}
            <!-- <div class="form-group row" id = "row">
                <label for="ItemName" class="col-sm-2 col-form-label">Item Name</label>
                <spam class="col-sm-10">
                    <input type="text" class="form-control" name = 'itemname' id="ItemName" placeholder="Item Name">
                </spam>
            </div>
            <div class="form-group row" id = "row">
                <label for="Quantity" class="col-sm-2 col-form-label">Quantity</label>
                <spam class="col-sm-10">
                    <input type="number" class="form-control" name = 'quantity' id="Quantity" placeholder="Quantity">
                </spam>
            </div>
            <div class="form-group row" id = "row">
                <label for="Amount" class="col-sm-2 col-form-label">Amount</label>
                <spam class="col-sm-10">
                    <input type="number" class="form-control" name = 'amount' id="Amount" placeholder="Amount">
                </spam>
            </div> -->
          {{form.as_p}}
            
          <input type="submit" value="add" class = "btn btn-secondary">
</form>


<div id="table">
    <h1>Your Requests</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
        </thead>
        <tbody id='tableBody'>
          {%for i in req %}
              <tr>
                <td>{{i.item_name_id}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.amount}}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
</div>
    
   <br>
   <br>
   <br>
   <br>
   <br>
  
    <footer class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <span class="ml-3 text-xl">DonateFoodForLife</span>
      </a>
      <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"> Copyright
        &copy; 2021 www.DonateFoodForLife.com - All rights reserved</a>
      </p>
    </div>
  </footer>
</body>

</html>
<script>
       
        function myFunction() {
  
 var table =  document.getElementById("tableBody");
 var row = table.insertRow(0);
 var cell1 = row.insertCell(0);
 var cell2 = row.insertCell(0);
 var cell3 = row.insertCell(0);
 var Itemname = document.getElementById("ItemName");
var ItemQuantity = document.getElementById("Quantity");
var ItemAmount = document.getElementById("Amount");
cell1.innerHTML = Itemname;
cell2.innerHTML = ItemQuantity;
cell3.innerHTML = ItemAmount;



}
   
</script>